:root {
    --color-background: #FFFCF2;
    --color-primary: #5A0C13;
    --color-accent: #FFF5D6;
    --color-secondary: #36070B;
    --color-dark: #121612;

    --content-with: clamp(300px, 80%, 900px);

    -ms-overflow-style: none;
    scrollbar-width: none;
}

:-webkit-scrollbar {
    display: none;
}

body {
    font-family: "Cinzel", serif;
    font-optical-sizing: auto;
    font-weight: 600;
    font-style: normal;
    font-size: 18px;
    background-color: var(--color-background);
    color: var(--color-primary);
}

.lineHightText {
    line-height: 1.6;
}

.centered {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.contentWith {
    width: var(--content-with);
}

header {
    box-shadow: rgba(54, 7, 11, 0.3) 0px 1px 4px;
    margin-bottom: 1.2em;
}

nav {
    color: var(--color-dark);
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: clamp(60px, 8vh, 100px);
}

nav>h1 {
    font-size: clamp(2.4rem, 4vw, 3rem);
}

nav>#btnContainer>button {
    font-family: "Cinzel", serif;
    background-color: var(--color-background);
    color: var(--color-primary);
    border: none;
    font-size: clamp(1.2rem, 2vw, 1.5rem);
    font-weight: 700;
    padding: 0.6em 1.2em;
    position: relative;
    cursor: pointer;
    background: none;
    transition: color 0.3s ease;
}

nav>#btnContainer>button::after {
    content: '';
    position: absolute;
    left: 50%;
    bottom: 0.3em;
    transform: translateX(-50%);
    width: 0;
    height: 2px;
    background-color: var(--color-primary);
    transition: width 0.3s ease;
}

nav>#btnContainer>button:hover::after {
    width: 60%;
}


img {
    border-radius: clamp(0.5rem, 4vw, 2rem);
    height: clamp(300px, 50vh, 600px);
    object-fit: cover;
    object-position: center;
}

.menuGrid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: clamp(1rem, 8vw, 4rem);
}

.menuGrid>h2 {
    color: var(--color-dark);
}

.beefSubheader {
    grid-column-start: 2;
}

.appetizers {
    grid-row-start: 2;
}

.menuItemList {
    display: grid;
    grid-template-columns: 5fr 1fr;
}

.menuItemList p:nth-child(2n) {
    text-align: end;
}